
#cliente_search
{
    text-align: center;
    font-size: 1.9rem;
    font-family: Round Hand, cursive;
    text-align: center;
    color: black;
    margin-top: 0.4rem;
    margin-bottom: 0.4rem;

}

#cliente_text_button {
    font-size: 1.5rem;
    font-family: "Baskerville", cursive;
    text-align: center;
    color: #83719c;
    margin-top: 0.4rem;
    margin-bottom: 0.4rem;
  }


.form-control:focus {
    outline: none; /* Rimuovi l'outline predefinito */
    border-color: rgb(131, 113, 156);; /* Cambia il colore del bordo quando in focus */
    box-shadow: 0 0 5px rgb(131, 113, 156);; /* Aggiungi una leggera ombra quando in focus */
}


.form-control:active {
    outline: none; /* Rimuovi l'outline predefinito */
    border-color: rgb(131, 113, 156);; /* Cambia il colore del bordo quando in focus */
    box-shadow: 0 0 5px rgb(131, 113, 156);; /* Aggiungi una leggera ombra quando in focus */
}

#form_cerca
{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-top: 20px;
    margin-bottom: 15px;
}

.form-floating
{
    width: 30vw;
    margin-right: 30px;
}

.bottone_viola 
{
    width: 10%;
    padding: 0;
}

.button_conteiner
{
    display: flex;
    justify-content: space-around;
}

.bottone_clienti
{
    width: 30%;
    border: 0.1rem solid #83719c;
    border-radius: 1rem;
    background-color: #d7d4de;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    
}

.tabella_cliente
{
    width: 100%;

}

.table_conteiner{

    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

td {
    /*border: 1px solid #dddddd;*/
    padding: 4px;
   
}

#table_text_button {
    font-size: 1.5rem;
    font-family: 'Baskerville',cursive;
    
    text-align: center;   
    margin-top: 0.4rem;
    margin-bottom: 0.4rem;
  }


.pagination {
    margin-top: 20px;
    text-align: center;
    display: flex;
    justify-content: space-around;
}

.step-links {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 1.2rem;
    font-family: 'Baskerville',cursive;
    text-align: center;
}

.step-links.left {
    order: 1; /* Cambia l'ordine per posizionare a sinistra */
}

.step-links.center {
    order: 2; /* Cambia l'ordine per posizionare al centro */
}

.step-links.right {
    order: 3; /* Cambia l'ordine per posizionare a destra */
}

.current-page {
    display: inline-block;
    
    white-space: nowrap; /* Evita il wrapping del testo */
}

.step-links a {
    text-decoration: none; /* Rimuovi la sottolineatura */
    color: black; /* Imposta il colore del testo a nero */
}

.step-links a:hover {
    color: black; /* Cambia il colore del testo quando ci si passa sopra */
}

.iconae
{
    width: 1px;   
}

.ics 
{
    margin-top: 0.4rem;
    margin-bottom: 0.4rem;
    width: 1.5rem;
    height: 1.5rem;
}





