.grid-form {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Due colonne con larghezza flessibile */
    gap: 1rem; /* Spazio tra le celle */
   
    margin: 0 auto; /* Centra il form orizzontalmente */
    margin-top: 1%;
  }
  
  .grid-form_misure {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Due colonne con larghezza flessibile */
    gap: 1rem; /* Spazio tra le celle */
   
    margin: 0 auto; /* Centra il form orizzontalmente */
    margin-top: 1%;
  }
  
  .form-control {
    width: 100%; /* Riempi completamente la cella */
    padding: 0.5rem; /* Spaziatura interna */
    font-family: 'Baskerville',cursive;
  }
 
  .invalid-feedback {

    font-family: 'Baskerville',cursive;

  }
  
  #bottoni_griglia
  {
    display: flex;
    justify-content: center;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 2%;
    
    
  }
  
  .form-container
  {
    
    height: 120vh; /* Altezza al 100% della viewport */
    overflow: auto; /* Aggiunge le barre di scorrimento se il contenuto supera l'area visibile */
    padding-top: 20px; /* Margine interno per separare il contenuto dai bordi */
    padding-left: 6vw;
    padding-right: 6vw;
    box-sizing: border-box;
    
  }

  .bottone_viola {
    margin: 3%;
}
  



