#conteiner_two_rect {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 80vh;
  
}

.botton_rect {
  background-color: #d7d4de;
  border: 0.1rem solid #83719c;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 30vw;
  max-width: 470px;
  height: 40vw;
  max-height: 550px
}

.text_button_select_client {
  font-size: 2.5vw;
  font-family: Round Hand, cursive;
  text-align: center;
  color: #83719c;
  padding: 2%;
}

.button_select_client_img {
  width: 22vw;
  max-width: 280px;
}

.container-fluid{
  background-image: url("static_file/ragazza_sorriso.png");
 /*  background-size: cover; */
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;

}