{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}


{% block title %} Elenco Clienti {% endblock title %}
{% block header %}

<div id="text_header_rect" class = 'purple_rect'>
    <p id="text_header" class="text"> Elenco Clienti </p>
</div>

{% endblock header%}
{% block css %}
<link rel="stylesheet" href="{% static 'css/clientesearch.css' %}" />
{% endblock css %}
{% block scriptlibrerie %}
 
{% endblock scriptlibrerie %}
{% block content %}
   
<div class="elenco-container">
    
    <form method="get" novalidate>
        <div id= 'form_cerca'>
            <div class="form-floating">
                
                {% render_field form.search_query class="form-control" %}
                <label class="font-custom" for="{{ form.search_query.id_for_label }}">{{ form.search_query.label_tag }}</label>

            </div>
            <button id= 'button_crea' class="bottone_viola" type="submit"><p id = 'menu_text_button'> Cerca </p></button>
        </div>
        
  
        
    </form>
    <div class =' table_conteiner'>   
        <table class = "tabella_cliente">
           
            {% for elemento in page_obj %}
                <tr>
                    <td><p id = 'table_text_button'> {{ elemento.nome }}</p></td>
                    <td><p id = 'table_text_button'>{{ elemento.cognome }}</p></td>
                    <td>
                        <div class="button_conteiner">
                            <button id= 'button_info' class="bottone_clienti" type="submit"><p id = 'menu_text_button'> Informazioni </p></button>
                            <button id= 'button_accordo' class="bottone_clienti" type="submit"><p id = 'menu_text_button'> Accordo </p></button>
                            <button id= 'button_bmi' class="bottone_clienti" type="submit"><p id = 'menu_text_button'> BMI </p></button>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </table>
        
        <div class="pagination">
            <span class="step-links left">
                {% if page_obj.has_previous %}               
                    <!--  <a href="?page=1">&laquo; prima</a> -->
                    <a href="?page={{ page_obj.previous_page_number }}">Precedente</a>
                {% else %}
                    <a href="" style='visibility: hidden'>Precedente</a>
                {% endif %}
            </span>
            
            <span class="step-links center">
                <span class="current-page">
                    Pagina {{ page_obj.number }} di {{ page_obj.paginator.num_pages }}.
                </span>
            </span>
            
            <span class="step-links right">
                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">Successiva</a>
                    <!--<a href="?page={{ page_obj.paginator.num_pages }}">ultima &raquo;</a> -->
                {% else %}
                <a href="" style='visibility: hidden'>Successiva</a>
                {% endif %}
            </span>
        </div>

    </div>
</div>

{% endblock %}
{% block script %}


  
{% endblock script %}
