{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}


{% block title %} Personal Check Up {% endblock title %}
{% block header %}
<div id="text_header_rect" class = 'purple_rect'>
    <p id="text_header" class="text"> Personal Check Up di {{cliente.nome}} {{cliente.cognome}} </p>
</div> 

{% endblock header%}
{% block css %}

    <link rel="stylesheet" href="{% static 'css/personalcu.css' %}" />
{% endblock css %}
{% block scriptlibrerie %}
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT" crossorigin="anonymous"></script>
  <script
  src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.1/chart.js">
  </script>
{% endblock scriptlibrerie %}

{% block content %}
   
<div class="form-container">
  <form  method="post" novalidate>{% csrf_token %}
    <div class="grid-form_misure">

         <!--  prima riga    -->
        <div class="form-floating">
            {% render_field form.peso_ottimale class="form-control" %}
            <label class="font-custom" for="{{ form.peso_ottimale.id_for_label }}">{{ form.peso_ottimale.label_tag }}</label>
        </div>

        <div class="form-floating">
            {% if form.is_bound %}
            {% if form.peso_desiderato.errors %}
                {% render_field form.peso_desiderato class="form-control is-invalid" %}
                {% for error in form.peso_desiderato.errors  %}
                <div class="invalid-feedback">
                    {{ error }}
                </div>
                {% endfor %}
            {% else %}
                {% render_field form.peso_desiderato class="form-control is-valid" %}
            {% endif %}
            {% else %}
                {% render_field form.peso_desiderato class="form-control" %}
            {% endif %}
            <label class="font-custom" for="{{ form.peso_desiderato.id_for_label }}">{{ form.peso_desiderato.label_tag }}</label>
        </div>

        <div class="form-floating">
        
        </div>
        

        <!--  seconda riga    -->
        <div class="form-floating">
            
                <p class= "jp">Stato attuale:</p>
                <p class= "jp" > {{stato}}</p>
             
        </div>

        <div class="form-floating">
                <p class= "jp">Differenza ultima misurazione:</p>
                <p id="valore" class= "jp" >---</p>
         
        </div>
            
        <div class="form-floating">
          
                <p class= "jp" >Differenza dalla prima misurazione:</p>
                <p id="diff" class= "jp" >---</p>
            
        </div>

        

         <!--  terza riga    -->
        <div class="form-floating">
            {% render_field form.misura class="form-control" %}
            <label class="font-custom" for="{{ form.misura.id_for_label }}">{{ form.misura.label_tag }}</label>
        </div>
    </div>  

    <div class = 'myChart'>
        <canvas id="myChart"></canvas>
    </div>


    <div id = 'bottoni_griglia'>

        <button id= 'button_esci' class="bottone_viola" type="submit"><p id = 'menu_text_button'> Prosegui </p></button>
      

    </div>
    </form>
  </div>

{% endblock %}
{% block script %}

  <script>
    
    const ctx = document.getElementById('myChart');
    var myChart;

    const plugin = {
        id: 'customCanvasBackgroundColor',
        beforeDraw: (chart, args, options) => {
          const {ctx} = chart;
          ctx.save();
          ctx.globalCompositeOperation = 'destination-over';
          ctx.fillStyle = options.color || '#99ffff';
          ctx.fillRect(0, 0, chart.width, chart.height);
          ctx.restore();
        }
      };


    function destroyChart() {
        myChart.destroy();
    }

    function capitalizeFirstLetter(string) {
        return string.charAt(0).toUpperCase() + string.slice(1);
    }

    function misure() 
    {

        var selectElement = document.getElementById("id_misura");

            // Ottieni l'opzione selezionata
        var selectedOption = selectElement.options[selectElement.selectedIndex];

            // Ottieni il testo dell'opzione selezionata
     
        var misura = selectedOption.text;
        
        var labels =[];
        var dati = [];
        var misuredati = {{misure_da_inserire|safe}};

        for (var i = 0; i < misuredati.length; i++) 
        {
            let misuraMinuscola = misura.toLowerCase()
            let misuradatiMinuscola = misuredati[i].misura.toLowerCase()
            if (misuraMinuscola == misuradatiMinuscola)
            {
                labels.push(misuredati[i].data);
                dati.push(misuredati[i].valore);
            }         
        }
       
        var newDati = dati.map(function(item) {
            return item === 'None' ? null : item;
          });
        generagrafico(misura, labels, newDati)
        
        lunghezzaarraydati = dati.length
        if (lunghezzaarraydati > 1)
        {
            
            diffprima = (dati[lunghezzaarraydati - 1] - dati[0]).toFixed(2)
            diffultima = (dati[lunghezzaarraydati - 1] - dati[(lunghezzaarraydati - 2)]).toFixed(2)
            
            if (diffprima > 0)
            {
                $("#valore").css('color', 'red');
            }
            else if (diffprima < 0)
            {
                $("#valore").css('color', 'green');
            }
            else
            {
                $("#valore").css('color', 'black');
            }

            if (diffultima > 0)
            {
                $("#diff").css('color', 'red');
            }
            else if (diffultima< 0)
            {
                $("#diff").css('color', 'green');
            }
            else
            {
                $("#diff").css('color', 'black');
            }

            
            if (diffultima == 'NaN' )
            {
                diffultima = '0'
            }
            if (diffprima == 'NaN' )
            {
                diffprima = '0'
            }

            $("#valore").text(diffultima)
            $("#diff").text( diffprima)
        }
        else{

            $("#valore").text('0')
            $("#diff").text( '0')

        }

    };

    function generagrafico(nome, labels, dati) 
    {
        var datiFiltrati = dati.filter(function(element) {
            return element !== null;
          });
        max = Math.max(...datiFiltrati) 
        min = Math.min(...datiFiltrati)
       
        label = capitalizeFirstLetter(nome);
        const datacl = 
            {
              labels: labels,
              datasets: [{
                  label: label,
                  data: dati,
                  fill: false,
                  borderColor: 'rgb(131, 113, 156)',
                  borderWidth: 1,
                  backgroundColor: 'rgba(131, 113, 156, 0.5)',
                  tension: 0
              }]
            };
        myChart = new Chart(ctx, {
        type: 'line',
        data: datacl,
        options : 
        {
            plugins: 
                {
                    customCanvasBackgroundColor: 
                    {
                    color: '#d7d4de',
                    }
                },
            scales : 
            {
                y : 
                    {
                        ticks: 
                            {
                                stepSize: 2
                            },
                        min: min - 2,
                        max: max + 2,
                    }
            },
            responsive: true, 
            maintainAspectRatio: false
            
        },
        
        plugins: [plugin],
        })
    };

    
    $(document).ready(function()
    {
      
        misure();
        $("#id_misura").change(destroyChart);
        $("#id_misura").change(misure);
        
    }) 

  </script>
  
{% endblock script %}
