{% extends 'base.html' %}
{% load static %}


{% block title %} Opzioni Clienti {% endblock title %}
{% block header %}
    <div id="text_header_rect" class = 'purple_rect' style='visibility: hidden'>
        <p id="text_header" class="text"></p>
    </div>

{% endblock header%}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/stiletworect.css' %}" />
{% endblock css %}
{% block scriptlibrerie %}
  
{% endblock scriptlibrerie %}

{% block content %}
   
    <div id='conteiner_two_rect'> 
        <a href="{% url 'clienti:nuovamisura' %}" style="text-decoration: none;" class = 'botton_rect'>           
            <p class= 'text_button_select_client'><span>Misure</span></p>
                <img
                class="button_select_client_img"
                src="{% static 'static_file/misure.png'%}"
                alt="Immagine"
                />
            <p class= 'hidden_paragraph' style='visibility: hidden'></p>              
        </a>

        <a href= "{% url 'clienti:search_clienti' %}" style="text-decoration: none;" class = 'botton_rect'>
                    
            <p class= 'text_button_select_client'><span>Elenco</span></p>
                <img
                class="button_select_client_img"
                src="{% static 'static_file/elenco.png'%}"
                alt="Immagine"
                />
            <p class= 'hidden_paragraph' style='visibility: hidden'></p>          
        </a>

    </div>

{% endblock %}
{% block script %}
   

{% endblock script %}