{% extends 'base.html' %}
{% load static %}


{% block title %} Opzioni Clienti {% endblock title %}
{% block header %}
    <div id="text_header_rect" class = 'purple_rect' style='visibility: hidden'>
        <p id="text_header" class="text"></p>
    </div>

{% endblock header%}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/stiletworect.css' %}" />
{% endblock css %}
{% block scriptlibrerie %}
  
{% endblock scriptlibrerie %}

{% block content %}
   
    <div id='conteiner_two_rect'> 
        <a href="{% url 'clienti:tipocliente' %}" style="text-decoration: none;" class = 'botton_rect'>
                
                <p class= 'text_button_select_client'>Nuovo Clienti</p>
                <img
                class="button_select_client_img"
                src="{% static 'static_file/nuovo_cliente.png'%}"
                alt="Immagine"
                />       
        
        </a>
        <a href=# style="text-decoration: none;" class = 'botton_rect'>
            
                <p class= 'text_button_select_client'>Elenco Clienti</p>
                <img
                class="button_select_client_img"
                src="{% static 'static_file/elenco_cliente.png'%}"
                alt="Immagine"
                />       
            
        </a>
    </div>

{% endblock %}
{% block script %}
   

{% endblock script %}
