<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <title>{% block title %} {% endblock title %}</title>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
        <link rel="stylesheet" href="{% static 'css/stilehome.css' %}" />
        {% block css %}

        {% endblock css %}

        <!-- script -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

        {% block scriptlibrerie %}

        {% endblock scriptlibrerie %}

        {% comment %}  {% endcomment %}
    </head>
    <body>

        <!-- barra laterale -->
            <div class="offcanvas offcanvas-start" id="demo">
                
            <div id ='pers1'class="col-auto px-sm-2 px-0">
                    <div class='sidenav-header'>
                        <div id = 'nav_logo_row'>
                        <img id= "image_barra"        
                        src= {% static '/static_file/logo_bianco.png' %}
                        alt="Immagine" />
                        </div>
                        <button type="button" class="btn-close" data-bs-dismiss="offcanvas"></button>
                        
                    </div>

                    <hr class="horizontal dark">

                    <div >
                        <a href="#" class ="nav_user_link">
                            <img src="https://images.unsplash.com/photo-1570295999919-56ceb5ecca61?ixlib=rb-1.2.1&amp;ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;auto=format&amp;fit=crop&amp;w=1480&amp;q=80" class="avatar avatar-sm">
                            <div class="ms-2">
                                <h6 class="text-sm mb-0">Andrew Millo</h6>
                            </div>
                        </a>
                    </div>

                    <hr class="horizontal dark">

                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav_menu_link" href="{% url 'utente:homec' %}">                      
                                    <div class="icon">
                                        <img src={% static '/static_file/home.png' %} alt="Icona" width="20px" height="20px">
                                    </div>
                                    <div class="nav-link-text">Home</div>                     
                            </a>
                        </li>
                        <li class="nav-item">
                            <li class="nav-item">
                                <a class="nav_menu_link" href="{% url 'clienti:sceltamenu' %}">                   
                                        <div class="icon">
                                            <img src={% static '/static_file/clienti.png' %} alt="Icona" width="20px" height="20px">
                                        </div>
                                        <div class="nav-link-text">Clienti</div>                           
                                </a>
                            </li>
                        </li>
                        <li class="nav-item">
                            <a class="nav_menu_link" href="">                      
                                    <div class="icon">
                                        <img src={% static '/static_file/network.png' %} alt="Icona" width="20px" height="20px">
                                    </div>
                                    <div class="nav-link-text">Rete</div>                     
                            </a>
                        </li>
                        <li class="nav-item">
                            <li class="nav-item">
                                <a class="nav_menu_link" href="{% url 'ordini:scelta_programma' %}">                   
                                        <div class="icon">
                                            <img src={% static '/static_file/accordi.png' %} alt="Icona" width="20px" height="20px">
                                        </div>
                                        <div class="nav-link-text">Ordini</div>                           
                                </a>
                            </li>
                        </li>
                        <li class="nav-item">
                            <a class="nav_menu_link" href="">                      
                                    <div class="icon">
                                        <img src={% static '/static_file/provigioni.png' %} alt="Icona" width="20px" height="20px">
                                    </div>
                                    <div class="nav-link-text">Provigioni</div>                     
                            </a>
                        </li>
                        <li class="nav-item">
                            <li class="nav-item">
                                <a class="nav_menu_link" href="">                   
                                        <div class="icon">
                                            <img src={% static '/static_file/listino.png' %} alt="Icona" width="20px" height="20px">
                                        </div>
                                        <div class="nav-link-text">Listini</div>                           
                                </a>
                            </li>
                        </li>
                        <li class="nav-item">
                            <a class="nav_menu_link" href="">                      
                                    <div class="icon">
                                        <img src={% static '/static_file/calendar.png' %} alt="Icona" width="20px" height="20px">
                                    </div>
                                    <div class="nav-link-text">Calendario</div>                     
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav_menu_link" href="">                      
                                    <div class="icon">
                                        <img src={% static '/static_file/academy.png' %} alt="Icona" width="20px" height="20px">
                                    </div>
                                    <div class="nav-link-text">Academy</div>                     
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav_menu_link" href="">                      
                                    <div class="icon">
                                        <img src={% static '/static_file/chat.png' %} alt="Icona" width="20px" height="20px">
                                    </div>
                                    <div class="nav-link-text">Chat</div>                     
                            </a>
                        </li>          
                    </ul>

                    <hr class="horizontal dark">

                    <a class="nav_menu_link" href="{% url 'utente:logout' %}">                      
                        <div class="icon">
                            <img src={% static '/static_file/logout.png' %} alt="Icona" width="20px" height="20px">
                        </div>
                        <div class="nav-link-text">Logout</div>                     
                    </a>

                    <hr class="horizontal dark">

                    <div class="sidenav-footer mx-3 position-sticky bottom-2 ">
                
                        <h6 class="text-uppercase text-xs font-weight-bolder mt-4">Messaggi</h6>

                        <a href="#" class ="nav_user_chat">
                            <div class="position-relative">
                                <img src="https://images.unsplash.com/photo-1595152772835-219674b2a8a6?ixlib=rb-1.2.1&amp;ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTA3fHxwb3J0cmFpdHxlbnwwfDJ8MHx8&amp;auto=format&amp;fit=crop&amp;w=800&amp;q=60" class="avatar avatar-sm shadow">
                                <span class="position-absolute top-100 start-100 mt-n1 ms-n1 translate-middle p-1 bg-success border border-white border-1 rounded-circle">
                                    <span class="visually-hidden">Online</span>
                                </span>
                            </div>
                            <span class="text-xs font-weight-bold ms-2">Alec Thomson</span>
                            <span class="badge bg-light text-secondary badge-sm text-xxs px-2 py-1 font-weight-bold border-circle ms-auto">5 +</span>
                        </a>

                        <a href="#" class ="nav_user_chat">
                            <div class="position-relative">
                                <img src="https://images.unsplash.com/photo-1485893086445-ed75865251e0?ixlib=rb-1.2.1&amp;ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTF8fHBvcnRyYWl0fGVufDB8MnwwfHw%3D&amp;auto=format&amp;fit=crop&amp;w=800&amp;q=60" class="avatar avatar-sm shadow">
                                <span class="position-absolute top-100 start-100 mt-n1 ms-n1 translate-middle p-1 bg-success border border-white border-1 rounded-circle">
                                    <span class="visually-hidden">Online</span>
                                </span>
                            </div>
                            <span class="text-xs font-weight-bold ms-2">Max Linarson</span>
                        </a>

                        <a href="#" class ="nav_user_chat">
                            <div class="position-relative">
                                <img src="https://images.unsplash.com/photo-1597223557154-721c1cecc4b0?ixlib=rb-1.2.1&amp;ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8cG9ydHJhaXR8ZW58MHwyfDB8fA%3D%3D&amp;auto=format&amp;fit=crop&amp;w=800&amp;q=60" class="avatar avatar-sm shadow">
                                <span class="position-absolute top-100 start-100 mt-n1 ms-n1 translate-middle p-1 bg-light border border-white border-1 rounded-circle">
                                    <span class="visually-hidden">Online</span>
                                </span>
                            </div>
                            <span class="text-xs font-weight-bold ms-2">Josa Irial</span>
                            <span class="badge bg-light text-secondary badge-sm text-xxs px-2 py-1 font-weight-bold border-circle ms-auto">
                                14
                            </span>
                        </a>       
                    </div>     
                </div> 
            </div>
        
        <!-- pagina -->
            
                <header>
                    <button id= 'button_side' class="button-17" type="button" data-bs-toggle="offcanvas" data-bs-target="#demo">
                        <p id = 'menu_text_button'> Menu </p>
                    </button>
                    {% block header %}{% endblock header%}
                    <button id= 'button_side' class="visually-hidden" type="button" >
                        <p id = 'menu_text_button'> Menu </p>
                    </button>
                </header>

                <img
                id="image_supdx"
                class="image_login"
                src={% static '/static_file/triangolosup.png' %}
                alt="Immagine"
                />

                <img
                id="image_infsx"
                class="image_login"
                src={% static '/static_file/triangoloinf.png' %}
                alt="Immagine"
                />

                {% block content %}{% endblock %}
              

                <footer>
                    <div id="footer_rect" >
                        <img
                        id="image_logo"
                        class="image_login"
                        src={% static '/static_file/logo.png' %}
                        alt="Immagine"
                        />
                    </div>
                </footer>
            

    </body>
    {% block script %}


    {% endblock script %}
    <script>
        
        window.addEventListener('unload', function() {
           
            $.ajax({
                url: "{% url 'utente:logout-auto' %}", // Sostituisci con l'URL della tua view Django
                type: 'GET',  // Puoi usare GET, POST o qualsiasi altro metodo HTTP necessario
                async: false,  // Usa async: true per consentire la richiesta asincrona
                success: function(data) {
                   
                },
                error: function(error) {
                  
                }         
               });
            
            debugger;
        });
        
        
    </script>
</html>
          


