{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}


{% block title %} Appuntamenti {% endblock title %}
{% block header %}

<div id="text_header_rect" class = 'purple_rect'>
    <p id="text_header" class="text"> Appuntamenti </p>
</div>

{% endblock header%}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/agenda.css' %}" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.1.5/dist/sweetalert2.min.css">
{% endblock css %}
{% block scriptlibrerie %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>

    <script src='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/6.1.10/index.global.js'></script>

    <script src=https://cdn.jsdelivr.net/npm/fullcalendar@5.10.1/locales/it.js></script>
    
    <script src = "https://unpkg.com/tooltip.js/dist/umd/tooltip.min.js"></script>
    
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.1.5/dist/sweetalert2.all.min.js"></script>
    
   
{% endblock scriptlibrerie %}
{% block content %}
<div class="container">
    <div class="row">
      
            <div id='calendar'></div> 
       </div> 
    </div>
</div>
{% endblock %}
{% block script %}
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
            headerToolbar: {
              left: 'prev,next today',
              center: 'title',
              right: 'dayGridMonth,timeGridWeek,timeGridDay,listMonth'
            },
            selectable: true,
            locale: 'it',
            buttonIcons: false, // show the prev/next text
            weekNumbers: false,
            navLinks: true, // can click day/week names to navigate views
            editable: true,
            dayMaxEvents: true, // allow "more" link when too many events
            themeSystem: 'bootstrap5',
            slotMinTime: '07:00',
            slotMaxTime: '21:00',
            eventSources: [

            // your event source
            {
              url: '{% url 'calendario:lista_appuntamenti' %}', // use the `url` property
              color: '#d7d4de',    // an option!
              textColor: 'black'  // an option!
            }
        
            // any other sources...
        
          ],
            
          dateClick: function(info) {
            Swal.fire({
                title: 'Aggiungi Appuntamento',
                html:
                    '<input id="swal-input1" class="swal2-input" placeholder="Inserisci il titolo">' +
                    '<input id="swal-input2" class="swal2-input" placeholder="Inserisci la descrizione">',
                focusConfirm: false,
                preConfirm: () => {
                    const title = Swal.getPopup().querySelector('#swal-input1').value;
                    const description = Swal.getPopup().querySelector('#swal-input2').value;
        
                    if (!title) {
                        Swal.showValidationMessage('Il titolo è obbligatorio');
                    }
        
                    return { title, description };
                }
            }).then((result) => {
                if (result.isConfirmed) {
                    var start = info.dateStr;
                    $.ajax({
                        type: "GET",
                        url: '{% url 'calendario:aggiungi_appuntamento' %}',
                        data: {'title': result.value.title, 'start': start, 'description': result.value.description},
                        dataType: "json",
                        success: function (data) {
                            calendar.refetchEvents();
                            Swal.fire('Aggiunto con successo!', '', 'success');
                        },
                        error: function (data) {
                            Swal.fire('Errore!', 'Si è verificato un problema!', 'error');
                        }
                    });
                }
            });
        },
        
        

        select: function(info) {
            Swal.fire({
                title: 'Aggiungi Appuntamento',
                html:
                    '<input id="swal-input1" class="swal2-input" placeholder="Inserisci il titolo">' +
                    '<input id="swal-input2" class="swal2-input" placeholder="Inserisci la descrizione">',
                focusConfirm: false,
                preConfirm: () => {
                    const title = Swal.getPopup().querySelector('#swal-input1').value;
                    const description = Swal.getPopup().querySelector('#swal-input2').value;
        
                    if (!title) {
                        Swal.showValidationMessage('Il titolo è obbligatorio');
                    }
        
                    return { title, description };
                }
            }).then((result) => {
                if (result.isConfirmed) {
                    var start = info.startStr;
                    var end = info.endStr;
                    $.ajax({
                        type: "GET",
                        url: '{% url 'calendario:aggiungi_appuntamento' %}',
                        data: {'title': result.value.title, 'start': start, 'end': end, 'description': result.value.description},
                        dataType: "json",
                        success: function (data) {
                            calendar.refetchEvents();
                            Swal.fire('Aggiunto con successo!', '', 'success');
                        },
                        error: function (data) {
                            Swal.fire('Errore!', 'Si è verificato un problema!', 'error');
                        }
                    });
                }
            });
        },
        

        eventClick: function(info) {
            Swal.fire({
                title: 'Rimuovi Appuntamento',
                text: 'Vuoi rimuovere l\'appuntamento?',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Sì, rimuovi!',
                cancelButtonText: 'Annulla'
            }).then((result) => {
                if (result.isConfirmed) {
                    var id = info.event.id;
                    $.ajax({
                        type: "GET",
                        url: '{% url 'calendario:rimuovi_appuntamento' %}',
                        data: {'id': id},
                        dataType: "json",
                        success: function (data) {
                            calendar.refetchEvents();
                            Swal.fire('Rimosso!', 'L\'appuntamento è stato rimosso con successo.', 'success');
                        },
                        error: function (data) {
                            Swal.fire('Errore!', 'Si è verificato un problema durante la rimozione.', 'error');
                        }
                    });
                }
            });
        },
        

        eventDidMount: function(info) {
            debugger;
            $(info.el).popover({
                
                title: info.event.title,
                placement: 'top',
                trigger: 'hover',
                content: info.event.extendedProps.descrizione,
                container: 'body'
            });
          },

          });

          
        
          calendar.render();
        });
 </script>

  
{% endblock script %}
