{% extends 'base.html' %}
{% load static %}


{% block title %} Successo {% endblock title %}
{% block header %}
    <div id="text_header_rect" class = 'purple_rect'>
        <p id="text_header" class="text"> Complimenti </p>
    </div> 
{% endblock header%}
{% block scriptlibrerie %}
<link rel="stylesheet" href="{% static 'css/formgrid.css' %}" />
{% endblock scriptlibrerie %}

{% block content %}
   <div class ='error_conteiner'>
    <p class = 'errorp'>Moduli inviati con successo </p>
    <div class="image-container">
        <img
            class ="img_success"      
            src="{% static 'static_file/successo.png'%}"
            alt="Immagine"
                    />
    </div>
    
   

    <div id = 'bottoni_griglia'>

        <a href="{% url 'clienti:search_clienti' %}" id= 'button_esci' class="btn bottone_viola"><p id = 'menu_text_button'> Torna alla Home </p></a>
  
      </div>
   </div>
                
{% endblock %}
{% block script %}
    

{% endblock script %}