{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}


{% block title %} Info Clienti {% endblock title %}
{% block header %}
<div id="text_header_rect" class = 'purple_rect'>
    <p id="text_header" class="text"> Informazioni Programma </p>
</div> 

{% endblock header%}
{% block css %}
<link rel="stylesheet" href="{% static 'css/formgrid.css' %}" />
{% endblock css %}
{% block scriptlibrerie %}
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT" crossorigin="anonymous"></script>
{% endblock scriptlibrerie %}

{% block content %}
   
<div class="form-container">
  
   
    <div class ='grid_programma'>
        <div  class="bottone_viola_info"><p class = 'info_text_button'> Nome Programma </p></div>
        <div  class="bottone_viola_info"><p class = 'info_text_button'> Durata </p></div>
        <div  class="bottone_viola_info"><p class = 'info_text_button'> Importo </p></div>
        
        <div  class="bottone_viola_info"><p class = 'info_text_button'> {{programma.nome_programma}} </p></div>
        <div  class="bottone_viola_info"><p class = 'info_text_button'> {{programma.durata_programma}} </p></div>
        <div  class="bottone_viola_info"><p class = 'info_text_button' id = 'totale'> {{programma.importo_programma}} </p></div>
        
        <div  class="bottone_viola_info"><p class = 'info_text_button'> Programma Kids </p></div>
        <div  class="bottone_viola_info"><p class = 'info_text_button'> Programma Rateale </p></div>
        <div  class="bottone_viola_info"><p class = 'info_text_button'> Programma Proseguimento </p></div>
        
        <div  class="bottone_viola_info">
            <p class = 'info_text_button'> {% if programma.programma_kids %} Si {% else %} No {% endif %}
             </p>
        </div>
        <div  class="bottone_viola_info">
            <p class = 'info_text_button'> {% if programma.programma_rateale %} Si {% else %} No {% endif %}
            </p>
        </div>
        <div  class="bottone_viola_info">
            <p class = 'info_text_button'> {% if programma.programma_proseguimento %} Si {% else %} No {% endif %}
            </p>
        </div>
    </div>
   
        <div id = 'bottoni_griglia'>
            {% comment %} <a href="{% url 'clienti:search_clienti' %}" id= 'bottone_prosegui' class="btn bottone_viola"><p id = 'menu_text_button'> Torna alla lista clienti </p></a>
            <a href="{% url 'ordini:scelta_gruppo' id_cliente %}" id= 'bottone_prosegui' class="btn bottone_viola"><p id = 'menu_text_button'> Torna alla selezione del programma </p></a>
            <a href="{% url 'ordini:scelta_pagamento' programma.gruppo %}" id= 'bottone_prosegui' class="btn bottone_viola"><p id = 'menu_text_button'> Torna alla modalità di pagamento </p></a>
            <a href="{% url 'ordini:scelta_listino' programma.gruppo rat %}" id= 'bottone_prosegui' class="btn bottone_viola"><p id = 'menu_text_button'> Torna alla selezione della durata </p></a>
     {% endcomment %}
        </div>
  
</div>

{% endblock %}
{% block script %}

  <script>
  
 
  </script>
  
{% endblock script %}