{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% load custom_filters %}


{% block title %} Modulo Alimenti {% endblock title %}
{% block header %}
<div id="text_header_rect" class = 'purple_rect'>
    <p id="text_header" class="text">
        Alimenti </p>
</div> 

{% endblock header%}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/stileordini.css' %}" />
    <link rel="stylesheet" href="{% static 'css/bottoniradio.css' %}" />
    <link rel="stylesheet" href="{% static 'css/bottonicheck.css' %}" />
   
    
{% endblock css %}
{% block scriptlibrerie %}
  
{% endblock scriptlibrerie %}

{% block content %}


<div class="form-container" style = 'margin-bottom:  15%'>
  <form  method="post" novalidate>{% csrf_token %}
    

      {% regroup alimenti by classe_alimenti as alimenti_per_classe %}

      {% for classe_alimenti_group in alimenti_per_classe %}
      <label class="purple_rect font_gruppi mt-3" >{{ classe_alimenti_group.grouper }}</label>
      <div class="grid-form">
      
        {% for alimento in classe_alimenti_group.list|dictsort:'nome' %}
          <div class="form-group alimentigruop  ">
            <label class="font_alimento " >{{ alimento.nome }}</label>
            <div>
              <div class="button r" id="button-1">
                <input type="checkbox" name="alimenti_selezionati"  value="{{ alimento.id }}" class="checkbox" />
                <div class="knobs"></div>
                <div class="layer"></div>
              </div>
            </div>
          </div>  
         
        {% endfor %}
      </div>
   
          
      {% endfor %}  


    <div id = 'bottoni_griglia'>

      <button id= 'button_crea' class="bottone_viola" type="submit"><p id = 'menu_text_button'> Continua </p></button>
      <a href="{% url 'clienti:search_clienti' %}" id= 'button_esci' class="btn bottone_viola"><p id = 'menu_text_button'> Esci senza salvare </p></a>

    </div>
  </form>
</div>



          

{% endblock %}
{% block script %}
<script>
  
</script>

{% endblock script %}
