{% extends 'base.html' %}
{% load static %}


{% block title %} Scelta Programma {% endblock title %}
{% block header %}
<div id="text_header_rect" class = 'purple_rect'>
    <p id="text_header" class="text">
        {% if minore %} Listino Kid
        {% else %} Listino
        {% endif %} </p>
</div> 

{% endblock header%}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/stileordini.css' %}" />
    
{% endblock css %}
{% block scriptlibrerie %}
  
{% endblock scriptlibrerie %}

{% block content %}
<style>
    .grid-container {
        grid-template-columns: {% if dati|length <= 4 %} repeat(2, 1fr)  {% else %} repeat(3, 1fr) {% endif %};    
    }
   
</style>
<div class = container_griglia>
    <div class="grid-container">
        {% for item in dati %}
            <div class="grid-item">
            
                <a href= "" style="text-decoration: none;" class = 'botton_rect'>
                    
                    <p class= 'text_button_select_client'>{{ item.nome_programma }}</p>
                    
            </a>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
{% block script %}
   

{% endblock script %}
